In [2]:
import pandas as pd
import numpy as np

In [3]:
import json
with open('final_classification.json', 'r') as f:
    data = json.load(f)

In [4]:
def makequery(query,name="sequence"):
    with open('query.fasta', 'w') as f:
        f.write(">{}\n".format(name))
        f.write("{}".format(query))
def align_score(seq1, seq2):
    
    match = 1
    mismatch = -1
    gap = -1
    
    
    n = len(seq1)
    m = len(seq2)
    score = [[0] * (m + 1) for _ in range(n + 1)]
    for i in range(n + 1):
        score[i][0] = i * gap
    for j in range(m + 1):
        score[0][j] = j * gap
        
    
    for i in range(1, n + 1):
        for j in range(1, m + 1):
            diag = score[i-1][j-1] + (match if seq1[i-1] == seq2[j-1] else mismatch)
            up = score[i-1][j] + gap
            left = score[i][j-1] + gap
            score[i][j] = max(diag, up, left)
    return score[n][m]

def needleman_wunsch(seq1, seq2, match_score=1, mismatch_score=-1, gap_penalty=-1):
    
    rows = len(seq1) + 1
    cols = len(seq2) + 1
    score = [[0] * cols for _ in range(rows)]

    
    for i in range(rows):
        score[i][0] = i * gap_penalty
    for j in range(cols):
        score[0][j] = j * gap_penalty

    
    for i in range(1, rows):
        for j in range(1, cols):
            match = score[i - 1][j - 1] + (match_score if seq1[i - 1] == seq2[j - 1] else mismatch_score)
            delete = score[i - 1][j] + gap_penalty
            insert = score[i][j - 1] + gap_penalty
            score[i][j] = max(match, delete, insert)
    alignment_score = score[rows - 1][cols - 1]

    return alignment_score


def match(a, b):
    if(a == b):
        return 1

    else:
        return -1
def scoring_matrix(b, a):
    z = [[0 for i in range(len(b))]
         for j in range(len(a))]  # Swap len(a) and len(b)
    for i in range(len(a)):
        for j in range(len(b)):
            if i == 0 and j == 0:
                z[i][j] = 0
            elif i == 0:
                z[i][j] = z[i][j-1] - 2
            elif j == 0:
                z[i][j] = z[i-1][j] - 2
            else:
                # Fix this line)
                z[i][j] = max((z[i-1][j] - 2, z[i][j-1] - 2,
                              z[i-1][j-1] + match(a[i], b[j])))
    return z

In [5]:
def printMatrix(mat):
    for i in range(len(mat)):
        for j in range(len(mat[i])):
            print(mat[i][j], end=" ")
        print()

def constructMatrix(str1, str2):
    list = [[0 for i in range(len(str1)+1)] for j in range(len(str2)+1)]
    return list

def printStringMatrix(matrix, str1, str2):
    print("", end = "  ")
    print("_", end = " ")
    for i in range(len(str1)):
        print(str1[i], end = " ")
    print()
    for i in range(len(matrix)):
        if i == 0 :
            print("_", end = " ")
        else:
            print(str2[i-1], end = " ")
        for j in range(len(matrix[i])):
            print(matrix[i][j], end = " ")
        print()

def initMatrix(matrix, gapPenalty):
    x=0
    for i in range(len(matrix)):
        matrix[i][0] = x * gapPenalty
        x=x+1
    x=0
    for i in range(len(matrix[0])):
        matrix[0][i] = x * gapPenalty
        x=x+1
    return matrix

def getMinPenalty(matrix, i, j, str1, str2,matchPenalty, mismatchPenalty, gapPenalty ):
    if str2[i-1] == str1[j-1]:
        currPenalty = matchPenalty
    else:
        currPenalty = mismatchPenalty

    top = matrix[i-1][j] + gapPenalty
    left = matrix[i][j-1] + gapPenalty
    diag = matrix[i-1][j-1] + currPenalty
    maxE = max(top, left, diag)
    currPenalty = maxE

    return currPenalty

def fillMatrix(matrix, str1, str2, matchPenalty, mismatchPenalty, gapPenalty):
    for i in range(1, len(matrix)):
        for j in range(1, len(matrix[0])):
            matrix[i][j] = getMinPenalty(matrix, i, j, str1, str2, matchPenalty, mismatchPenalty, gapPenalty)


def getPrevious(matrix, i, j,matchPenalty, mismatchPenalty, gapPenalty ):

    score = matrix[i][j]
    top = matrix[i-1][j]
    left = matrix[i][j-1]
    diag = matrix[i-1][j-1]

    maxPrevIndexI = 0
    maxPrevIndexJ = 0
    maxPrevDir = 0
    if diag + matchPenalty == score or diag + mismatchPenalty == score:
        maxPrevIndexI = i-1
        maxPrevIndexJ = j-1
        maxPrevDir = 0
    elif top + gapPenalty == score:
        maxPrevIndexI = i-1
        maxPrevIndexJ = j
        maxPrevDir = 1
    elif left + gapPenalty == score:
        maxPrevIndexI = i
        maxPrevIndexJ = j-1
        maxPrevDir = 2

    return maxPrevDir, maxPrevIndexI, maxPrevIndexJ


def backTrack(matrix, matchPenalty, mismatchPenalty, gapPenalty):

    score = 0
    directions = []

    i = len(matrix)-1
    j = len(matrix[0])-1

    while i>=0 and j>=0:
        score += matrix[i][j]
        if i == 0 or j == 0:
            break
        prev = getPrevious(matrix, i, j, matchPenalty, mismatchPenalty, gapPenalty)
        directions.insert(0, prev[0])
        i = prev[1]
        j = prev[2]
    return directions, score

def alignSequences(sequence1, sequence2, matchPenalty = 1, mismatchPenalty = -1, gapPenalty = -2):
    mat = constructMatrix(sequence1, sequence2)
    matrix = initMatrix(mat, gapPenalty)
    fillMatrix(matrix, sequence1, sequence2, matchPenalty, mismatchPenalty, gapPenalty)
    dir = backTrack(matrix, matchPenalty, mismatchPenalty, gapPenalty)
    return dir[1]
def find_score(row,name):
    str1=row['Sequences']
    str2=name
    score=0
    for i in range(len(str1)):
        if(str1[i]!=str2[i]):
            score+=1
    return score

In [6]:
name=input("Please enter the name")
query=input()
# makequery(query,name)

In [7]:
query

'AACCTGCATTGCGATACGGATAG'

In [8]:
df=pd.read_csv("merged_final24.csv")

In [9]:
df["score"]=0

In [10]:
for i in range(len(df["Sequence"])):
    score=align_score(query,df["Sequence"][i])
    df["score"][i]=score

C:\Users\91994\AppData\Local\Temp\ipykernel_15016\3997362363.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["score"][i]=score

In [11]:
df

,Sequence,Subpopulation,Cultivar ID,Plant Height (cm),score
0,GAAAGCCGTATGTGTACCAACCTT,Temperate Japonica,C152,100.00,0
1,GGGAGCGACAGGTATGTTACCTTT,Indica I,W146,127.40,-5
2,GGGAGCGGTAGTAATGTTACCTTT,Indica II,W150,104.60,-6
3,GGGGGCCACCGTAGTACCACCCTC,VI/Aromatic,W129,151.20,-7
4,GGGGGCGGTATGTATGTTACCTTT,Indica II,W086,103.40,-6
...,...,...,...,...,...
524,GGGAACGGTATTAATGTTACCTCT,Indica I,C159,95.80,-3
525,GGGAGCGGTATGTATGTTACCTTT,Indica Intermediate,W167,135.20,-4
526,GAGAGCCATAGGTATACCAACCTC,Japonica Intermediate,W324,156.00,0
527,GGGGACCACCGTAATGTTTCCTTC,Indica Intermediate,C198,173.77,-7
528,GGGGGCCACCGGTGTGCCTCCCCC,VI/Aromatic,W255,145.80,-10

In [12]:
sorted_df = df.sort_values(by='score')
sorted_df = df.sort_values(by='score', ascending=False)
sorted_df

,Sequence,Subpopulation,Cultivar ID,Plant Height (cm),score
66,AAGGGCCATAGGTATACCAATCTC,Japonica Intermediate,W122,169.80,2
106,AAGGGCCATAGGAGTACCACTCTC,Temperate Japonica,C074,143.65,1
246,GAAAGCCATAGGTATACCAATCTC,Japonica Intermediate,W021,142.40,1
175,GAAAGCCATAGGTATACCAATCTC,Japonica Intermediate,C185,145.00,1
267,AAGAGCCATAGGAGTACTACTCTC,Temperate Japonica,C138,190.90,1
...,...,...,...,...,...
8,GGGGGCCACCGTAATGTCTCCCCC,VI/Aromatic,W077,182.40,-10
423,GGGGGCCACCGTAATGTCTCCCCC,VI/Aromatic,W220,172.00,-10
258,GGGGGCCACAGTAATGTCTCCCCC,Aus,W277,142.00,-10
41,GGGGGCCACCGTAATGTCTCCCCC,Aus,W330,149.60,-10
528,GGGGGCCACCGGTGTGCCTCCCCC,VI/Aromatic,W255,145.80,-10

In [13]:
df=df.head(5)
df

,Sequence,Subpopulation,Cultivar ID,Plant Height (cm),score
0,GAAAGCCGTATGTGTACCAACCTT,Temperate Japonica,C152,100.0,0
1,GGGAGCGACAGGTATGTTACCTTT,Indica I,W146,127.4,-5
2,GGGAGCGGTAGTAATGTTACCTTT,Indica II,W150,104.6,-6
3,GGGGGCCACCGTAGTACCACCCTC,VI/Aromatic,W129,151.2,-7
4,GGGGGCGGTATGTATGTTACCTTT,Indica II,W086,103.4,-6

In [14]:

with open('sequence_cluster_dict.json', 'r') as f:
    data1 = json.load(f)
data1

{'C051': 0,
 'C119': 0,
 'W158': 0,
 'C014': 1,
 'C152': 1,
 'C029': 1,
 'C010': 2,
 'W062': 3,
 'W041': 3,
 'W294': 4,
 'W118': 5,
 'W225': 5,
 'W128': 6,
 'W119': 7,
 'W193': 8,
 'W249': 9,
 'W250': 9,
 'W060': 9,
 'W063': 10,
 'W010': 10,
 'W061': 10,
 'W226': 10,
 'C035': 11,
 'C057': 12,
 'C177': 12,
 'C017': 12,
 'W045': 13,
 'C023': 13,
 'W323': 14,
 'W003': 14,
 'C186': 15,
 'C185': 16,
 'W021': 16,
 'W127': 17,
 'W326': 17,
 'W324': 17,
 'W328': 18,
 'W013': 18,
 'W162': 19,
 'C150': 20,
 'W117': 20,
 'C146': 20,
 'W016': 20,
 'W283': 20,
 'W130': 20,
 'C018': 20,
 'C028': 20,
 'C116': 20,
 'W088': 20,
 'W305': 20,
 'W012': 20,
 'C026': 20,
 'C154': 20,
 'C052': 20,
 'C084': 21,
 'C085': 21,
 'C056': 22,
 'C016': 22,
 'W019': 23,
 'W018': 24,
 'W139': 24,
 'W064': 24,
 'C070': 25,
 'W011': 25,
 'C063': 26,
 'C172': 27,
 'C149': 27,
 'C120': 27,
 'C144': 28,
 'C134': 28,
 'C083': 29,
 'W319': 30,
 'C079': 31,
 'C133': 31,
 'C103': 32,
 'C196': 32,
 'C101': 33,
 'C106': 33,
 'W207': 34,
 'C089': 35,
 'C082': 36,
 'C071': 36,
 'W125': 37,
 'W038': 37,
 'C032': 37,
 'C138': 37,
 'W067': 38,
 'C074': 39,
 'C111': 39,
 'W143': 39,
 'C137': 39,
 'C003': 40,
 'W300': 40,
 'W110': 41,
 'W285': 42,
 'W284': 42,
 'W002': 43,
 'W004': 43,
 'C005': 43,
 'W116': 43,
 'C087': 44,
 'C189': 45,
 'C004': 45,
 'W122': 46,
 'C179': 46,
 'W260': 47,
 'W288': 47,
 'W007': 47,
 'W302': 48,
 'W329': 49,
 'W273': 49,
 'W102': 49,
 'C123': 50,
 'W251': 50,
 'W257': 51,
 'W017': 52,
 'W254': 52,
 'W024': 53,
 'W006': 53,
 'W057': 53,
 'W253': 53,
 'W005': 53,
 'W065': 53,
 'W275': 53,
 'W113': 53,
 'W303': 53,
 'W053': 53,
 'W022': 54,
 'C153': 54,
 'W008': 55,
 'W123': 55,
 'W290': 56,
 'C195': 56,
 'W068': 57,
 'C054': 58,
 'C034': 58,
 'C181': 59,
 'C075': 60,
 'C067': 60,
 'W082': 60,
 'W327': 61,
 'W160': 62,
 'W109': 62,
 'W120': 63,
 'W052': 64,
 'C048': 64,
 'W209': 64,
 'C064': 64,
 'W027': 64,
 'W056': 65,
 'C012': 65,
 'W281': 66,
 'W059': 66,
 'C187': 67,
 'C188': 67,
 'W325': 68,
 'C130': 69,
 'C093': 69,
 'C171': 69,
 'W270': 70,
 'C176': 70,
 'W306': 71,
 'W159': 72,
 'W173': 72,
 'W304': 73,
 'W155': 73,
 'W055': 74,
 'C163': 75,
 'W217': 76,
 'W218': 76,
 'W240': 77,
 'W163': 77,
 'W157': 78,
 'W149': 79,
 'W233': 79,
 'W322': 80,
 'C009': 80,
 'W267': 81,
 'W186': 81,
 'W234': 81,
 'W313': 82,
 'C203': 83,
 'C124': 83,
 'W171': 83,
 'W243': 84,
 'C050': 85,
 'C053': 85,
 'C147': 85,
 'W188': 86,
 'C045': 87,
 'C027': 87,
 'W085': 88,
 'W239': 88,
 'C008': 89,
 'C025': 90,
 'W086': 90,
 'C178': 90,
 'W262': 91,
 'W202': 92,
 'C065': 92,
 'W161': 92,
 'W153': 93,
 'C040': 94,
 'W231': 95,
 'W177': 96,
 'C061': 96,
 'W216': 96,
 'C062': 96,
 'W168': 96,
 'C069': 96,
 'W184': 96,
 'W311': 96,
 'W182': 96,
 'W316': 96,
 'W051': 96,
 'W227': 96,
 'W211': 96,
 'C011': 96,
 'W176': 96,
 'W166': 96,
 'W167': 96,
 'W301': 96,
 'W195': 96,
 'W242': 96,
 'C164': 97,
 'W263': 98,
 'W265': 98,
 'W083': 99,
 'C168': 100,
 'W201': 101,
 'C068': 101,
 'W289': 101,
 'W197': 101,
 'W238': 101,
 'C043': 101,
 'W152': 102,
 'C049': 102,
 'W236': 103,
 'W259': 103,
 'W244': 103,
 'W084': 104,
 'C173': 104,
 'W269': 105,
 'W206': 105,
 'W199': 105,
 'W073': 105,
 'W154': 106,
 'W172': 106,
 'W321': 107,
 'W147': 107,
 'W299': 107,
 'W181': 108,
 'W298': 109,
 'W274': 109,
 'W291': 109,
 'C041': 110,
 'W150': 111,
 'C170': 111,
 'C046': 111,
 'W268': 111,
 'C142': 112,
 'C107': 112,
 'C020': 112,
 'C021': 113,
 'C059': 114,
 'C058': 114,
 'C122': 114,
 'W223': 114,
 'C039': 115,
 'C158': 115,
 'W189': 116,
 'W046': 117,
 'W169': 117,
 'W185': 117,
 'C044': 117,
 'C167': 117,
 'W200': 118,
 'C165': 118,
 'C161': 119,
 'C156': 119,
 'C159': 119,
 'C160': 120,
 'W293': 120,
 'W307': 121,
 'C006': 121,
 'W040': 121,
 'W228': 121,
 'C031': 121,
 'W180': 121,
 'W309': 121,
 'W295': 121,
 'W174': 121,
 'W222': 121,
 'C007': 121,
 'W229': 121,
 'W308': 121,
 'C030': 121,
 'C037': 121,
 'W224': 121,
 'C169': 121,
 'W151': 121,
 'W179': 121,
 'C019': 121,
 'C151': 121,
 'W170': 121,
 'W317': 121,
 'W315': 121,
 'W183': 121,
 'W271': 121,
 'W043': 121,
 'W230': 121,
 'W312': 121,
 'W264': 121,
 'W078': 122,
 'W191': 123,
 'W192': 123,
 'W187': 124,
 'W165': 124,
 'C042': 125,
 'W237': 125,
 'C166': 125,
 'W044': 125,
 'C115': 125,
 'W208': 125,
 'W074': 126,
 'W129': 127,
 'W258': 127,
 'W042': 127,
 'W081': 128,
 'W252': 128,
 'W219': 129,
 'W255': 129,
 'W020': 130,
 'W048': 131,
 'W091': 131,
 'W278': 131,
 'C002': 132,
 'C015': 133,
 'W277': 133,
 'W220': 134,
 'W330': 134,
 'W136': 134,
 'W077': 134,
 'W066': 135,
 'W089': 135,
 'W093': 135,
 'W014': 136,
 'W256': 137,
 'W279': 138,
 'W095': 138,
 'W037': 139,
 'W292': 140,
 'W098': 140,
 'W108': 140,
 'W100': 140,
 'W028': 141,
 'W131': 142,
 'W069': 142,
 'W287': 142,
 'W076': 142,
 'W142': 142,
 'W094': 142,
 'W104': 142,
 'W115': 142,
 'W106': 143,
 'W140': 143,
 'W121': 144,
 'C013': 145,
 'W141': 145,
 'W297': 145,
 'W015': 145,
 'W072': 145,
 'W025': 145,
 'W034': 145,
 'W215': 145,
 'W280': 145,
 'W103': 145,
 'W296': 145,
 'C086': 146,
 'W105': 146,
 'W049': 147,
 'W134': 147,
 'W214': 148,
 'W092': 148,
 'W096': 148,
 'W090': 148,
 'W099': 148,
 'W286': 148,
 'C102': 149,
 'W079': 150,
 'W023': 150,
 'W030': 151,
 'W097': 151,
 'W026': 152,
 'C143': 152,
 'C099': 153,
 'W033': 153,
 'C066': 154,
 'W107': 154,
 'C094': 155,
 'W178': 156,
 'W310': 156,
 'C125': 157,
 'W314': 158,
 'W114': 158,
 'W221': 159,
 'W282': 159,
 'W194': 160,
 'W241': 160,
 'W124': 161,
 'W036': 162,
 'C095': 162,
 'W071': 163,
 'W146': 163,
 'C118': 164,
 'W070': 164,
 'C174': 165,
 'C148': 165,
 'W318': 166,
 'W213': 167,
 'C022': 167,
 'C157': 168,
 'W087': 168,
 'W047': 169,
 'W050': 170,
 'W261': 170,
 'C139': 171,
 'W112': 172,
 'C001': 173,
 'C193': 174,
 'C036': 175,
 'C121': 175,
 'W132': 175,
 'W175': 176,
 'W156': 177,
 'C117': 177,
 'W245': 177,
 'W032': 178,
 'C073': 178,
 'W031': 178,
 'C109': 179,
 'C190': 180,
 'C199': 180,
 'W144': 181,
 'W137': 181,
 'C077': 181,
 'C184': 182,
 'C081': 183,
 'C076': 183,
 'C091': 184,
 'W029': 184,
 'C092': 184,
 'C127': 185,
 'C060': 185,
 'W266': 185,
 'C078': 186,
 'C183': 187,
 'C128': 187,
 'C180': 187,
 'W247': 188,
 'W210': 188,
 'W080': 188,
 'C132': 189,
 'C197': 189,
 'C090': 190,
 'W205': 190,
 'W204': 190,
 'W039': 191,
 'C201': 192,
 'C198': 192,
 'W272': 192,
 'C080': 193,
 'C194': 193,
 'C097': 193,
 'C104': 193,
 'W198': 194,
 'W212': 194,
 'W235': 195,
 'C136': 196,
 'C200': 196,
 'W320': 196,
 'C162': 197,
 'C192': 197,
 'C047': 198,
 'W054': 199,
 'C108': 200,
 'W111': 200,
 'W009': 200,
 'W203': 200,
 'C088': 201,
 'C182': 202,
 'W001': 202,
 'C202': 203,
 'W126': 204,
 'C135': 204,
 'C141': 204,
 'W075': 205,
 'C098': 206,
 'W035': 206,
 'C110': 207,
 'C140': 207,
 'C096': 208,
 'C100': 208,
 'C129': 208,
 'W145': 208,
 'W101': 209,
 'C131': 210,
 'C191': 210,
 'W246': 210,
 'W135': 211,
 'W133': 211,
 'C024': 212,
 'C145': 212,
 'C114': 212,
 'C155': 213,
 'C033': 213,
 'W276': 214,
 'C055': 215,
 'C112': 216,
 'W164': 216,
 'C175': 217,
 'C113': 218,
 'C072': 219,
 'W148': 219,
 'C038': 220,
 'W058': 220,
 'W138': 221,
 'W248': 221,
 'C105': 221}

In [15]:
df["Cluster"]=0
for i in range(len(df["Sequence"])):
    df["Cluster"][i]=data1[df["Cultivar ID"][i]]
df

C:\Users\91994\AppData\Local\Temp\ipykernel_15016\2468258625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Cluster"]=0
C:\Users\91994\AppData\Local\Temp\ipykernel_15016\2468258625.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Cluster"][i]=data1[df["Cultivar ID"][i]]

,Sequence,Subpopulation,Cultivar ID,Plant Height (cm),score,Cluster
0,GAAAGCCGTATGTGTACCAACCTT,Temperate Japonica,C152,100.0,0,1
1,GGGAGCGACAGGTATGTTACCTTT,Indica I,W146,127.4,-5,163
2,GGGAGCGGTAGTAATGTTACCTTT,Indica II,W150,104.6,-6,111
3,GGGGGCCACCGTAGTACCACCCTC,VI/Aromatic,W129,151.2,-7,127
4,GGGGGCGGTATGTATGTTACCTTT,Indica II,W086,103.4,-6,90

In [16]:
x=dict()
for i in set(df["Subpopulation"]):
    x[i]=list(df["Subpopulation"]).count(i)
x = dict(sorted(x.items(), key=lambda item: item[1], reverse=True))
x=list(x.keys())
x

['Indica II', 'Temperate Japonica', 'Indica I', 'VI/Aromatic']

In [17]:
# y=dict()
# for i in set(df["Cluster"]):
#     y[i]=(list(df["Cluster"]).count(i),df["score"][i])
# y = dict(sorted(x.items(), key=lambda item: (item[1][0], item[1][1])))
# y=list(y.keys())
# y

y = dict()
for i in set(df["Cluster"]):
    if i in df["score"]:
        y[i] = (list(df["Cluster"]).count(i), df["score"][i])
    else:
        y[i] = (list(df["Cluster"]).count(i), 0)
y = dict(sorted(y.items(), key=lambda item: (item[1][0], item[1][1])))
y = list(y.keys())
y=y[0]
y

1

In [27]:
with open('clusters_dict.json', 'r') as f:
    data2 = json.load(f)

In [25]:
with open('final_classification.json', 'r') as f:
    data3= json.load(f)

In [33]:
z=data2[str(y)][0]
pp=list(data3[z]['Subpopulation'].keys())
pp

['Japonica Intermediate', 'Temperate Japonica']

In [37]:
for i in x:
    if(i in pp):
        x=i
x

'Temperate Japonica'

In [38]:
data3[z]["Subpopulation"][x]

'100.0-100.0'

In [30]:
z=data2[str(y)][0]
z
data[z]["Subpopulation"][str(x)]

KeyError: 'Indica II'

In [64]:
maxscore=sorted(set(df["score"]))[-1]
df=df[df["score"]==maxscore]
df

,Sequence,Subpopulation,Cultivar ID,Plant Height (cm),score
0,GAAAGCCGTATGTGTACCAACCTT,Temperate Japonica,C152,100.00,-8
28,GAAAGCCATAGGTGTACCAACCTT,Temperate Japonica,W305,74.00,-8
35,GAAAGCCATAGGTGTACCAACCTT,Temperate Japonica,C018,78.27,-8
38,GAAAGCCATAGGTGTGCCAACCTT,Japonica Intermediate,W061,121.80,-8
52,GAAAGCCATAGGTGTACCAACCTT,Temperate Japonica,C150,90.32,-8
...,...,...,...,...,...
502,GAAAGCCATAGGAGTACCAACCTT,Temperate Japonica,W162,98.40,-8
504,GAAAGCCATAGGTGTGTTACTCTT,Temperate Japonica,W207,114.60,-8
509,GAAAGCCATAGGTGTGTTAACCTT,Temperate Japonica,C048,97.33,-8
519,GAAAGCCATAGGTGAACCAACCCT,Temperate Japonica,C149,102.47,-8
520,GAAAGCCATAGGTGAACCAACCCT,Temperate Japonica,C172,102.37,-8

In [65]:
matchseq=list(df["Cultivar ID"])[0]
matchseq

'C152'

In [1]:
data["C138"]["height_range"]

NameError: name 'data' is not defined